* {
  margin: 0;
}

#title {
  /*text-align: center;*/
  padding: 2vh 0 2vh 2vh;
  font-size: 7vh;
  /*background-color: #96FFC1;*/
  font-family: Bebas Neue;
  /*-webkit-box-shadow: 0 8px 6px -6px #717F77;
  -moz-box-shadow: 0 8px 6px -6px #717F77;
  box-shadow: 0 8px 6px -6px #717F77;*/
}

.side {
  background-color: #96FFC1;
  height: 100vh;
  /*width: 30%;*/
}

.shorten {
  padding: 5vh;
  /*margin-top: -5vh;*/
  margin-left: 30vh;
}

.form-container{
  /*margin-top: -3.5vh;*/
}

.labels {
  /*margin-left: -30vh;*/
  font-family: Bebas Neue;
  font-size: 20px;
}

.history {
  /*margin-top: 10vh;
  padding: 3vh;*/
  /*margin-left: 35vh;*/
}

.form-container {
  /*width: 50%;*/
}

#flex {
  /*margin-left: 35vh;  */
  display: flex;
  align-items: center;
  /*display: inline-block;*/
  /*flex-flow: row wrap;*/
  /*flex-direction: row;*/
  /*justify-content: space-between;*/
}

.URL {
  /*flex: 1;*/
  margin: 10px;
  /*display: inline-block;*/
}

.remove-button {
  font-family: Bebas Neue;
  border-style: solid;
  border-width: 0px 0px 0px;
  box-shadow: 0 -2px 2px #717F77 inset;
  color: black;
  text-align: center;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  font-size: 12px;
  background-color:  #E3FFEE;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}

.button {
  font-family: Bebas Neue;
  border-style: solid;
  border-width: 0px 0px 0px;
  box-shadow: 0 -2px 2px #717F77 inset;
  color: black;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  font-weight: 700;
  padding: 19px 30px 18px 39px;
  font-size: 18px;
  background-color:  #E3FFEE;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  margin: 2vh 2vh 2vh 2vh;
}

form.input input,
form.input select {
  /*font-family: Georgia, "Times New Roman", Times, serif;*/
  /*border: none;*/
  width: 100vh;
  height: 50px;
  border-radius: 4px;
  font-size: 16px;
  margin: 0;
  outline: 0;
  /*padding: 7px;*/
  min-width: 22%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  /*background-color: #CCCCCC;*/
  /*color:#8a97a0;*/
  /*-webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;*/
  /*margin-bottom: 30px;*/
  outline: 0;
  border-width: 0 0 2px 0;
  border-color: #E3FFEE;
}
