<div class='top'>
  <h1 id='title'>Simply-Shorten</h1>
</div>

<br><br>

<div class='circle-container'>
  <div class='circle animated pulse'>Find URL</div>
  <div class='circle animated pulse'>Copy URL</div>
  <div class='circle animated pulse'>Shorten URL</div>
</div>

<div class='container'>
  <div class='shorten'><br>
    <h3 class='labels'>Unecessarily Long Url</h3>
    <div class='form-container'>
      <form name='form' class='input' class="long-url" ng-submit='site.shortenUrl(longUrl, origin, newUrl)'>
          <input class='inputs' type="text" ng-model="longUrl" placeholder="www.extremely-long-url-here.com">
          <input class='inputs' type="text" ng-model="origin" placeholder="Origin (Ex: NY Times)">
        <br>
        <button class='button' type="submit" name="button" ng-click='site.clear()'>Shorten</button>
      </form>
    </div>
  </div>

  <div class='history'>
    <div class='form-container'>
      <h3 class='label2'>URL History</h3><br>
      <div id='flex' class='repeat-urls' ng-repeat='url in site.urls'>
        <p id='cut-off-length' class='URL'>{{url.longUrl}}</p>
        <p class='URL'><a href="{{url.newUrl}}" target="_blank">{{url.newUrl}}</a></p>
        <form class='URL' ng-submit='site.updateUrl(url)'>
          <input ng-model='url.origin'></input>
          <button class='remove-button' type="submit" name="button">Update</button>
          <button class='remove-button' type="button" name="button" ng-click='site.removeUrl(url)'>delete </button>
        </form>
      </div>
      <br><br>
    </div>
    <button id='clear-all' class='button' type="button" name="button" ng-click='site.clearHistory(urls)'>Clear All History</button>
  </div>
</div>
