
<div class='shorten'>
  <form class="long-url" ng-submit='site.shortenUrl(longUrl, origin, newUrl)'>
    <!-- ng-submit='site.addUrl(longUrl, origin)' -->
    <input type="text" ng-model="longUrl" placeholder="enter extremely long URL here">
    <input type="text" ng-model="origin" placeholder="where url is from">
    <input type="text" ng-model="newUrl" value={{site.newUrl}}>
    <br>
    <button type="submit" name="button">Shorten</button>
    <!-- ng-click='site.shortenUrl(longUrl, origin)' -->
  </form>
  <h4>Output short URL here {{site.newUrl}}</h4>
</div>

<div class='history'>
  <div class='repeat-urls' ng-repeat='url in site.urls'>
    <!-- <p>Extremely long URL {{url.long-url}}</p>
    <p>Date {{url.createdAt}}</p>
    <p>Shortened URL {{url.short-url}}</p>
    <p>Origin of URL {{url.origin}}</p> -->
    <button type="button" name="button" ng-click='site.updateUrl(url)'>Update</button>
    <button type="button" name="button" ng-click='site.removeUrl(id)'>Remove</button>
  </div>
  <br><br>
  <button type="button" name="button" ng-click='site.clearHistory(urls)'>Clear All History</button>
</div>
