<!-- <div class='side'>
</div> -->

<h1 id='title'>Simply-Shorten</h1>
<div class='shorten'>
  <h3 class='labels'>Unecessarily Long Url</h3>
  <div class='form-container'>
  <form class='input' class="long-url" ng-submit='site.shortenUrl(longUrl, origin, newUrl)'>
    <!-- <div class='flex'> -->
      <input class='inputs' type="text" ng-model="longUrl" placeholder="www.extremely-long-url-here.com">
      <input class='inputs' type="text" ng-model="origin" placeholder="Origin (Ex: NY Times)">
    <!-- </div> -->
    <br>
    <button class='button' type="submit" name="button">Shorten</button>
  </form>
  </div>
  <br><br>
</div>

<div class='history'>
  <h3 class='labels'>URL History</h3>
  <div class='form-container'>
  <div id='flex' class='repeat-urls' ng-repeat='url in site.urls'>
    <p class='URL'>{{url.longUrl}}</p>
    <p class='URL'><a href="{{url.newUrl}}" target="_blank">{{url.newUrl}}</a></p>
    <form class='URL' ng-submit='site.updateUrl(url)'>
      <input ng-model='url.origin'></input>
      <button class='remove-button' type="submit" name="button">Update</button>
    </form>
    <button class='remove-button' type="button" name="button" ng-click='site.removeUrl(url)'>delete </button>
    </div>
  <br><br>
  </div>
  <button class='button' type="button" name="button" ng-click='site.clearHistory(urls)'>Clear All History</button>
</div>
